<div style="padding: 2rem;">

  <header>
    <h2>
      Angular Socket Chat
    </h2>
    <div>Open an <a href="/" target="_blank">new tab</a> to have another instance of the chat.</div>
  </header>

  <main>

    <div style="display: flex; align-items: center; margin-top: 1rem; margin-bottom: 1rem; ">
      <img [src]="getAvatar(id)">
      <div style="padding-left: 1rem;">
        {{id}}
      </div>>
    </div>

    <div style="margin-bottom: 2rem;">
      <input #inputRoom maxlength="140" placeholder="Type your room" [(ngModel)]="room"
        (keyup.enter)="switchRoom(room)">
      <input #inputMessage maxlength="140" placeholder="Type your message" [(ngModel)]="messageContent"
        (keyup.enter)="sendMessage(messageContent)">
      <button (click)="sendMessage(messageContent);">send</button>
      <button (click)="onReload();">reload others</button>
    </div>

    <ng-container *ngFor="let message of messages">
      <div style="display: flex; align-items: center ">
        <div>
          <img [src]="getAvatar(message.id)">
        </div>
        <div style="padding-left: 1rem;">
          {{message.content}}
        </div>
      </div>
      <hr>
    </ng-container>

    <router-outlet></router-outlet>

  </main>
</div>
